.chatWrapper{
    position: fixed;
    padding: 10px;
    right: 20px;
    bottom: 20px;
    -webkit-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.37); 
    box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.37);
    margin-bottom: 60px;
}
.fulfill{
    background-color: white;
}
.chatBox{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.messagesBox{
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: scroll
}
.msg{
    font-size: 17px;
    background-color: #D3D3D3;
    padding: 10px;
    margin-bottom: 10px;
}
.sendMsgForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sendMsgForm input{
    width: calc(100% - 70px);
    font-size: 15px;
    outline: none;
    padding: 10px;
}
.sendMsgForm button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.btnWrapper{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    padding: 10px;
    right: 10px;
    bottom: 10px;
}
.btnWrapper button{
    border: none;
    padding: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 40px;
    cursor: pointer
}
.icon-small{
    height: 10px
}
.icon-middle{
    height: 25px
}
.icon-big{
    height: 40px
}